* {
    font-family: sans-serif, Arial;
    color: #c9f7ef;
    white-space: nowrap;
}

.banner {
    background-color: #182b28;
    height: 140px;
    width: 1780px;
    margin: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
}
.navigation ul {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    gap: 40px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transform: translate(790px,-113px);
}

.navigation a {
    text-decoration: none;
}

.titulo {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    gap: 14px;
    transform: translate(0px,-195px);
} 

.sesion-button {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    border-radius: 12px;
    padding: 15px;
    position: relative;
    background-color: #4b7773;
    left: 1550px;
    bottom: 1910px;
    z-index: 2;
}

.education {
    background-color: #4b7773;
    height: 350px;
    width: 1100px;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transform: translate(27px,-1060px);
}


.solicitudes {
background-color: #4b7773;
height: 300px;
width: 600px;
border-radius: 50px;
position: relative;
z-index: 0;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
transform: translate(1180px,-2100px);
}
.missolicitudes li{
    font-size: 30px;
    font-weight: 500;
    list-style-type: none;
    transform: translate(1190px,-2060px);
    z-index: 10;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
}

.solicitudes li {
    font-size: 27px;
    padding: 40px;
    font-family: sans-serif;
    list-style-type: none;
    transform: translate(85px,76px);
}

.avisos {
    list-style-type: none;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    transform: translate(-10px,10px);
}

.connections {
    background-color: #4b7773;
    height: 804px;
    width: 600px;
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 0;
    transform: translate(1180px,-2080px);
}

.connections li {
    list-style-type: none;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    transform: translate(0px,30px);
}

.cover {
    background-color: #2f4846;
    height: 340px;
    width: 1100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    transform: translate(40px,0px);
}

.cover img {
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 1;
    transform: translate(140px,-5px);

}

.background {
    background-color: #4b7773;
    height: 600px;
    width: 1100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transform: translate(40px,-190px);
}

.image {
    background-image: 10px;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: 8px solid #4b7773;
    transform: translate(80px,-880px);
}

.userName {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 35px;
    transform: translate(70px,-860px);
}

.biography {
    list-style: none;
    display: flex;
    font-size: 30px;
    font-family: sans-serif;
    text-align: justify;
    white-space: nowrap;
    transform: translate(30px,-860px);
}

.edit-profile {
    border-radius: 12px;
    padding: 15px;
    background-color: #2f4846;
    color: #c9f7ef;
    border-color: #2f4846;
    border-width: 5px;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    transform: translate(950px,-920px);
}

.container {
    position: relative;
    top: -115px;
}

.container2 {
    position: relative;
    top: -110px;
}
.first-list {
    font-size: 32px;
    font-weight: 600;
    font-family: sans-serif;
    list-style-type: none;
    display: flex;
    opacity: 100%;
    transform: translate(0px,40px);
}

.second-list {
    transform: translate(0px,80px);
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 500;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.second-list li {
    margin-bottom: 15px;
}
.foto {
    background-image: 10px;
    height: 60px;
    width: 60px;
    padding: 20px;
    border-radius: 50%;
    left: 1185px;
    bottom: 4600px;
    position: relative;
}

.lagente a {
    text-decoration: none;
}

.lagente p {
    transform: translate(-20px,275px);
}

.lagente li {
    list-style-type: none;
    font-size: 27px;
    font-family: sans-serif;
    position: relative;
    padding: 50px;
    transform: translate(1260px,-2800px);
}

.gente {
    background-image: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 25px;
    border-color: #000;
    transform: translate(1200px,-3740px);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    left: 1600px;
    bottom: 4810px;
}
.button-container2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    left: 1660px;
    bottom: 4979px;
}

.round-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transform: translate(0px,0px);
}
.accept {
    border: 4px solid #233937;
    background-color: #0000;
}

.reject {
background-color: #0000;
border: 4px solid #233937;
}
